<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
    <p><%= review.content %></p>
    <p><%= review.rating %>/5</p>


    </li>
  <% end %>
  <%= link_to "Create a review", new_restaurant_review_path(@restaurant)%>
</ul>
<br>
